<footer class="site-footer py-2">
  <div class="container">

    <div class="row">
      <div class="col-lg-4">

        <div class="text-center quick-contact-info">
          <div class="mb-3 icon-wrap">
            <a href="https://api.whatsapp.com/send/?phone=541162640985&text&type=phone_number&app_absent=0"
              target="_blank" rel="noopener noreferrer"><span class="icon-phone"></span></a>
          </div>
          <span class="caption">+54 911 6264 0985</span>
        </div>

      </div>
      <div class="col-lg-4">

        <div class="text-center quick-contact-info">
          <div class="mb-3 icon-wrap">
            <span class="icon-room"></span>
          </div>
          <span class="caption">Villa del Parque, Av. Nazca 3177. CABA</span>
        </div>

      </div>
      <div class="col-lg-4">

        <div class="text-center quick-contact-info">
          <div class="mb-3 icon-wrap">
            <span class="icon-envelope-o"></span>
          </div>
          <span class="caption">info@mydomain.com</span>
        </div>

      </div>
    </div>


    <div class="row pt-1 mt-1 text-center">
      <div class="col-lg-8 text-lg-left">
        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
            class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com"
            target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
      <div class="col-lg-4 text-lg-right">
        <a href="#" class="ml-3">Terms</a>
        <a href="#" class="ml-3">Privacy</a>
      </div>
      <!-- <div class="col-md-12">
              <div class="border-top pt-5">
                
              </div>
            </div> -->

    </div>
  </div>
</footer>