<div class="site-section">
        <div class="container">
          <div class="row">
            {{#each servicios}}
            <div class="col-lg-6 mb-4">
              <a href="#" class="d-flex service-2">
                <div class="icon-wrap">
                  <span class="{{image}}"></span>
                </div>
                <div class="contents">
                  <h3>{{nombre}}</h3>
                  <p>{{texto}}</p>
                </div>
              </a>
            </div>
            
            {{/each}}
        </div>
</div>