<!doctype html>
<html lang="en">

  <head>
{{> head}}
  </head>

  <body>

    
    <div class="site-wrap" id="home-section">

{{> nav}}

    {{!-- HERO --}}
{{> hero}}

    {{> servicios}}

    {{> promos}}

    {{!-- CONTACTO DOS --}}
    {{> contact2}}

      
{{> footer}}

    </div>

{{> scripts}}

  </body>

</html>

