<!doctype html>
<html lang="es">
<head>
  {{> head}}
</head>

<body>
  <div class="site-wrap" id="home-section">

    {{> nav}}

    {{!-- HERO --}}
{{> hero}}
          
          <div class="col-lg-8 mb-5">
            ERROR 404 - PÁGINA NO ENCONTRADA
          </div>

          
    {{> footer}}
  </div>
  {{> scripts}}

</body>

</html>